
.header-row{
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  margin:0;
  z-index:1;
}
.header-links{
  padding:10px 15px;
  border-radius: 5px;
}
.header-links:hover{
  background-color: green;
}
@media screen and (max-width:600px) {
  .link-name{
    display: none;
  }
}